*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Lato;
    height: 100%;
    overflow: hidden;
}

body{
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

